ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #039eca;
}
  
li {float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.active { background-color:#7c4897;
}
  
li a:hover:not(.active) { background-color: #ff7701;
}

body { /*dit zijn de waarden voor de body*/
    background-color: #ef9098; /*dit is de achtergrondkleur van de body*/
    color: #fcc31a; /*dit is de tekstkleur van de body*/ 
}

.column { 
    float:right; 
    width: 30%; 
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif; /*dit geeft de text fonts aan die worden gebruikt*/
    margin-bottom: 5%;
  }